/* GLOBAL */

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;

}   

a {
   text-decoration: none;
   color: red;
}


/* HEADER */
header {
   background: black;
   color: red;
   padding: 1em 2em;
}

header a {
    color: whitesmoke;
}

header {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}
