/* GLOBAL */

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: monospace;

}   

a {
   text-decoration: none;
   color: red;
}


/* HEADER */
header {
   background-image: linear-gradient( paleturquoise, lightcyan);
   color: palet;
   padding: 1em 2em;
}

header a {
    color: whitesmoke;
}

header {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

/* SITE ID */
.site-id h1 {
   margin: 0;
}

/* SITE NAV */
nav ul {
   display: flex;
   justify-content: flex-end;
   margin: 0;
   padding-top: .6em;
}

nav li {
   margin: 0;
   list-style: none;
}

nav a {
   display: block;
   padding: 1em;
}

/* FOOTER */
footer {
   border-top: 1px solid #add;
   max-width: 1000px;
   margin: 0 auto;
}
footer nav ul {
   justify-content: center;
}

/* MAIN */
main {
   padding: 0 0 3em 0;
   min-height: 80vh;
}

/* SECTIONS */

section {
   padding: 3em 1em;
}

/* HERO */
.hero {
display: grid;
align-content: center;
text-align: center;
font-family: 'arial';
font: size 40px;
color: powderblue;
}

 
.page-home .hero {
   background-image: url(https://picsum.photos/id/1015/1600/800);
   background-position: center top;
   background-size: cover;
   min-height: 50vh;
   
} 
.page-about .hero {
   background-image: url(https://picsum.photos/id/1036/4608/3072);
   background-position: center top;
   background-size: cover;
   min-height: 40vh;
}
.page-blog .hero {
   background-image: url(https://picsum.photos/id/1039/6945/4635);
   background-position: center top;
   background-size: cover;
   min-height: 40vh;
}

.hero h2 {
   font-size: 6em;
   text-transform: uppercase;
   margin: 0 auto;
}

.hero p {
   max-width: 600px;
   margin: 1em auto;
}

/* LISTS */
.lists {
   max-width: 1000px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 1em
}

@media (max-width:767px) {
    .lists {
       grid-template-columns: 1fr 1fr; 
    }
}

/* BLOG ARCHIVES*/

.blog-archives {
   max-width: 600px;
   margin: 0 auto;
}

.blog-entry {
    border: 1px solid #add;
    padding: 2em;
    margin: 2em 0;
}

.date {
   opacity:.5;
   font-size: .8em;
}

/* CUSTOM UI DESIGN */

.ui-design {
  text-align: center;
}

.ui-design img {
   max-width: 200px;
}

